body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #f79b6d, #7f3f98); /* Apply linear gradient background */
}

.App {
  position: relative;
  overflow-x: hidden;
}

/* Header Styles */

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 28px;
  text-align: center;
}

nav {
  text-align: center;
  margin-top: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #f4f4f4;
}

#about h2 {
  font-size: 50px;
  margin: 0;
  color: #fff; /* Add a color for the title to make it visible */
  text-align: center;
  padding: 20px 0; /* Add padding to separate the title from the content */
}

@media (max-width: 768px) {
  /* ... */

  #about h2 {
    font-size: 32px; /* Adjust the font size for better visibility */
    margin-top: 40px; /* Add some top margin to separate the title from the content */
  }

  /* ... */
}

.about-content {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.aboutmeimage {
  margin-right: 20px;
  margin-left: 50px;
}

.aboutmeimage img {
  width: 300px;
  height: 400px;
  object-fit: stretch;
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
  
  .aboutmeimage {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .aboutmeimage img {
    width: 50%;
    height: auto;
    padding-left: 20%;
  }
}

.aboutmetext {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
  text-align: justify;
  padding: 0 20px;
}

/* Section Styles */

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: relative;
  z-index: 1;
}

.section:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
  border-radius: 10px;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

.section h2 {
  margin: 0;
  text-align: center;
  font-size: 24px;
  position: relative;
  z-index: 1;
  color: #fff;
}

.section p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  position: relative;
  z-index: 1;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.project {
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
  transform: translateX(100%);
  opacity: 0;
  position: relative;
  overflow: hidden;
}

.projects-container.visible .project {
  transform: translateX(0);
  opacity: 1;
}

.project:hover {
  transform: translateX(-5px) scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.project h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
  position: absolute;
  bottom: 50px;
  left: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project:hover h3 {
  opacity: 1;
}

.project img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}


#contact {
  margin-top: 20px;
  text-align: left;
}

#contact h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#contact p {
  margin-bottom: 10px;
}

#contact ul {
  list-style-type: none;
  padding: 0;
}

#contact ul li {
  margin-bottom: 5px;
}

#contact i {
  margin-right: 5px;
  color: #fff;
}

#contact a {
  color: #fff;
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
}

/* Download Resume Section Styles */

.resume-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.resume-container a {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.resume-container a:hover {
  background-color: #555;
}

#certifications h2 {
  font-size: 32px;
  padding: 40px 0;
  padding-bottom: 10px;
}

.certificates-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.certificate {
  flex-basis: calc(33.33% - 20px);
  /* Adjust the flex-basis value and any other styles as needed */
}

.certificate img {
  width: 400px;
  height: 300px;
  padding-bottom: 20px;
}

.certificate:hover {
  opacity: 0.8;
  /* Add any additional hover styles as desired */
}


.section.visible {
  opacity: 1;
  transform: translateY(0);
}

.flowchart-container {
  display: flex;
  justify-content: space-between;
}

.experience-item {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: center;
}

.experience-item:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 20px;
  height: 2px;
  background-color: #999;
  transform: translate(-50%, -50%);
}

.experience-item:first-child:before {
  display: none;
}

.experience-item-header {
  margin-bottom: 10px;
}

.experience-item-header h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.experience-item-header p {
  margin: 0;
  font-size: 14px;
}

#skillset {
  margin-top: 20px;
}

#skillset h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#skillset ul {
  list-style-type: none;
  padding: 0;
}

#skillset li {
  margin-bottom: 5px;
}

.language {
  font-weight: bold;
  margin-left: 5px;
}

.level {
  margin-left: 10px;
  font-style: italic;
  color: #888;
}

.fa {
  margin-right: 5px;
}

#skillset ul {
  /* Rest of the styles */

  /* Set the width and height of the progress bar container */
  width: 100%;
}

#skillset li {
  /* Rest of the styles */

  /* Position the progress bar container */
  position: relative;
}

#skillset .progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  background-color: #eee;
  width: 100%;
  border-radius: 5px;
}

#skillset .progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
  width: 0;
  transition: width 0.3s ease-in-out;
}

/* Add classes to adjust the progress bar width based on the skill level */
#skillset .level-beginner .progress {
  width: 30%;
}

#skillset .level-intermediate .progress {
  width: 60%;
}

#skillset .level-advanced .progress {
  width: 90%;
}
